---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
---

<Layout title="About | Taco Royale Tech">
	<Main>
    <p>We are the Taco Royale team! The best team in GoDaddy :-) </p>
    <p>You can find us on Slack at #tacoroyale-private</p>
	</Main>
</Layout>