---
import { getCollection } from "astro:content";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostList.astro";

const posts = await getCollection("posts");
---

<Layout title="Blog | Taco Royale Tech.">
	<Main>
		<h3>Taco Royale Tech Blog</h3>
      <PostList posts={posts} />
	</Main>
</Layout>
